<nav class="nav-styles navbar-dark bg-primary font-white">
    <%if(isLoggedIn){%>
        <div class="navbar-brand" href="#">
            <span class="nav-welcome">Welcome</span>
            <span class="nav-name"> <%= user.firstname.toUpperCase() %>!</span>
        </div>

        <% for(let link of links){ %>
            <a class="font-white <%=link.currentPath ? 'current-path' : ''%>" href="<%=link.path%>"><%=link.title%></a>
        <% } %>

        <a class="font-white" href="/api/users/logout">Logout</a>

    <%} else {%>
        <form action="/api/users/login" method="post">
            <input type="text" name="email" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="login">
        </form>
    <%}%>
</nav>