<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head',{title:'Private Quizzes'})  %>

  <body>
    <!-- As a link -->

    <%- include('partials/navbar', {isLoggedIn, user, links:[{title:'Home', path:'/'},{title:'Create Quiz', path:'/createquiz'},{title:'Scores', path:'/userScores'}]}) %>

    <%if(isLoggedIn){%>
      <%- include('partials/quizzesList',{quizzes:privateQuizzes, user:user, title:'User Quizzes (Private Quizzes)'})  %>
    <%}%>
  </body>
</html>
