<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head',{title:'Quiz Questions'})  %>

  <body>
    
    <%- include('partials/navbar', {isLoggedIn, user, links:[{title:'Home', path:'/'},{title:'Create Quiz', path:'/createquiz'},{title:'Scores', path:'/userScores'}]}) %>

    <fieldset class="questions-wrapper">
      <legend style="margin-left: 70px">Quiz Questions</legend>

      <form>
        <a href="" class="margin-l-20">What is the Capital of Canada?</a>

        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary quiz-button">
            Montreal
          </button>
          <button type="button" class="btn btn-primary quiz-button">
            Winnipeg
          </button>
          <button type="button" class="btn btn-primary quiz-button">
            Ottawa
          </button>
        </div>
        <!-- <button class="btn btn-primary quiz-button" type="submit">
          Ottawa
        </button>
        <button class="btn btn-primary quiz-button" type="submit">
          Vancouver
        </button>
        <button class="btn btn-primary quiz-button" type="submit">
          Montreal
        </button> -->
      </form>
    </fieldset>
  </body>
</html>
