<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head',{title:'Scores'})  %>

<body>

    <%- include('partials/navbar', {isLoggedIn, user, links:[{title:'Home', path:'/'},{title:'Private Quizzes', path:'/privatequiz'},{title:'Create Quiz',path:'/createquiz'}]}) %>

</body>

</html>