.see-border {
  border: 2px dotted white;
}

body {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;

  background: rgb(163, 208, 219);
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgba(163, 208, 219, 1) 100%
  // );
}

html {
  box-sizing: border-box;
}

.text-align {
  text-align: center;
}

.nav-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  padding: 0px 24px;
}

.font-white a {
  color: #ffffff;
}

.flex-nav a {
  margin: 0px 10px;
}
.flex-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: center;
  max-width: 550px;
}

.quiz-button {
  min-width: 150px;
  min-height: 35px;
  margin: 10px 20px 10px 20px;
  border: 5px solid #ff8649;
  border-radius: 10px;
}

.quiz-button:hover {
  border: 5px solid #ff8649;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.3);
}

// questions page style

.margin-tb-10 {
  margin: 10px 0px;
}

.margin-lr-10 {
  margin: 0px 15px;
}

.margin-l-20 {
  margin-left: 20px;
}

.margin-tb-30 {
  margin: 30px 0px;
}

.margin-auto-center {
  margin: 0px auto;
}

// Private Quizzes Page

.private-quiz-group {
  display: inline-flex;
  border: 5px solid #ff8649;
  background-color: #ff8649;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;

  height: 80px;
}

.private-quiz-button {
  border-radius: 0px;
  min-width: 150px;
}

.make-public {
  margin-left: 5px;
  border-radius: 0px;
  max-width: 75px;
}

.questions-wrapper {
  margin: 24px;
  border-radius: 5px;
  legend {
    font-size: 1em;
  }

  form {
    padding: 5px;
    border: solid gray 1px;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    a {
      flex: 1;
    }
  }
}
// Create Quiz
